/* the asterisk means that the styling applies to all elements in the webpage
justify-content — controls alignment of all items on the x axis. 
align-items — controls alignment of all items on the y axis. 
An element with position: sticky; is positioned based on the user's scroll position.

A sticky element toggles between relative and fixed, depending on the scroll position. 
It is positioned relative until a given offset position is met in the viewport 
- then it "sticks" in place (like position:fixed).

z-index is the CSS property that controls the stacking order of overlapping elements on a page. 
An element with a higher z-index value will appear in front of an element with a lower z-index value. 
The property is called “z-index” because it sets the order of elements along the z-axis.


*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    background: #87f5c9;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; /* top of everything */
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; /* top and bottom is first digit */
    padding: 0 4rem;
    z-index: 1;
    position: relative;
}

#navbar__logo { 
    color: #212322;
    font-style: italic;
    font-weight:bold;
    text-decoration: none;
    font-size: 2.5rem;
    position: absolute;
    height: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar__links {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    margin: 0 1rem;
}

.button {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: #f8a879;
    text-decoration: none;
    border-radius: 10px;
}

.button:hover {
    background: #87a6f5;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
}

.navbar__links:hover {
    color: #87a6f5;
    transition: all 0.3s ease;
}

@media screen and (max-width: 760px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        z-index: 1;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        position: absolute;
        width: 100%;
        transition: all 0.5s ease;
        height: 50%;
        z-index: -1;
    }

    .navbar__menu:active  {
        background: black;
        top: 100%;
        opacity: 1;
        z-index: 100;
        height: 50%;
        transition: all 0.5s ease;
    }
    #navbar__logo {
        margin: 25px;
    }

    .navbar__toggle .bar { 
        width: 25%;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #212322;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        width: 100%;
        display: table;
    }

    #mobile-menu { 
        position: absolute;
        top: 20%; 
        right: 5%;
        transform: translate(5%, 20%);
    }
    
    .navbar__btn {

    }
}